fastapi==0.78.0
ipython==8.3.0
matplotlib==3.5.1
networkx==2.5.1
numpy==1.22.0
pandas==1.4.2
scikit_learn==1.1.1
seqeval==1.2.2
spacy==3.2.4
torch==1.11.0
tqdm==4.63.0
transformers==4.11.3
uvicorn==0.17.6
